
html{

}

/*#avatar{
	border: 2px solid black;
	padding: 10px;
	margin: 15px;
	width: 150px;
	height: 150px;
}*/
body {
	background-image: url("../img/gradient.jpg");
}

#phone{
	margin: auto;
	padding:15px;
	width:60%;
	border: 2px solid black;

}
p {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;


}
h1{
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 100px;
	padding-right: 100px;

}
h2{
	text-align: center;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkblue;
}

#Message{
	margin: auto;
	width:40%;
	border: 2px solid black;
	padding: 15px;
}
#container{
	margin: auto;
	width: 100%;

}
